body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 auto;
}

.container {
    width: 375px;
    margin: 0 auto;
    border: red 2px solid;
}




/* Typography */


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #C6C6C6;
    padding: 5px 10px;
}

h3, p {
    font-size: 13px;
}

h3 p {
    font-size: 12px;
}

.bold {
    font-weight: 600;
}

.bottom-of-post {
    margin: 5px;
}


/* Images */

.logo {
    width: 40%;
}

.avatar {
    height: 34px;
    width: 34px;
    border-radius: 50px;
    object-fit: cover;
}

.post {
    width: 375px;
    height: 375px;;
}

.icon {
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

.icon-wrapper {
    display: flex;
    justify-content: flex-start;
}
