body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 auto;
}

.container {
    width: 375px;
    margin: 0 auto;
    box-shadow: 0 0 5px #000;
}




/* Typography */


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #C6C6C6;
    padding: 5px 10px;
}

h3, p {
    font-size: 13px;
    margin: 0;
}

h3 p {
    font-size: 12px;
}

.bold {
    font-weight: 600;
}

.bottom-of-post {
    margin: 5px;
}

.bottom-of-post p {
    margin: 15px 0;
    padding-bottom: 15px;
}

.user-info {
    display: flex;
    justify-content: start;  
    margin: 10px;
}

.user-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 7px;
}

/* Images */

.logo {
    width: 40%;
}

.avatar {
    height: 34px;
    width: 34px;
    border-radius: 50px;
    object-fit: cover;
}

.post {
    width: 375px;
    height: 375px;;
}

.icon {
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

.icon-wrapper {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
}
